body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: CeraProRegular; }

.screen {
  position: absolute;
  width: 100%;
  height: 100%; }

#container {
  width: 1920px;
  height: 1080px;
  background: #f4f5fa;
  position: relative;
  overflow: hidden; }

/*	Still There screen */
#stillThereScreen {
  z-index: 40;
  background: rgba(0, 0, 0, 0.7);
  text-align: center; }
  #stillThereScreen h1 {
    margin-top: 380px;
    font-family: CeraProMedium;
    font-size: 81px; }
  #stillThereScreen h3 {
    margin-top: 30px;
    margin-left: 635px;
    text-align: left;
    font-family: CeraProLight;
    font-size: 30px; }

#stillThereBtn {
  border: none;
  margin-top: 70px;
  padding: 20px 50px;
  border-radius: 8px;
  background: white;
  font-size: 24px;
  color: black;
  font-family: CeraProRegular; }

/*	Content screen */
#contentScreen {
  margin: 0; }

#sidebar {
  position: absolute;
  left: 0;
  height: 100%;
  width: 640px;
  background: #f4612e; }
  #sidebar:after {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 60px;
    background: linear-gradient(to right, transparent 0%, #d05227 100%); }
  #sidebar h1 {
    font-family: CeraProBlack;
    color: black;
    font-size: 160px; }

#infoPopup {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 615px;
  bottom: 0;
  left: 85px;
  line-height: 100%;
  background: #15232e;
  vertical-align: middle; }
  #infoPopup.hidden {
    bottom: -100px; }
  #infoPopup img {
    margin-left: 30px;
    position: relative;
    width: 38px; }
  #infoPopup span {
    font-size: 24px;
    margin-left: 30px; }

#menuCanvas {
  position: absolute;
  z-index: 30;
  top: 0;
  right: 0;
  opacity: 0; }
  #menuCanvas.disabled {
    top: 1080px; }

.pulse {
  animation-duration: 2s; }

#menuBadges {
  padding-top: 50px; }
  #menuBadges .row {
    width: 100%;
    padding-left: 300px; }
    #menuBadges .row#rowA {
      height: 350px; }
    #menuBadges .row#rowB {
      height: 250px; }
    #menuBadges .row#rowC {
      height: 130px;
      line-height: 130px; }
    #menuBadges .row#rowD {
      height: 130px;
      line-height: 130px; }
    #menuBadges .row#rowE {
      height: 130px;
      line-height: 130px; }

.badge {
  position: relative;
  display: inline-block;
  transition: all 0.5s ease-out;
  vertical-align: middle; }
  .badge.diamondSmall {
    width: 120px;
    height: 120px; }
  .badge.diamondMedium {
    width: 230px;
    height: 230px; }
  .badge.shieldSmall {
    width: 120px;
    height: 120px;
    padding-left: 5px; }
  .badge.shieldMedium {
    width: 240px;
    height: 240px; }
  .badge.pentagonSmall {
    width: 110px;
    height: 110px;
    padding-left: 15px; }
  .badge.circleMedium {
    width: 270px;
    height: 270px; }
  .badge.circleBig {
    width: 320px;
    height: 320px; }
  .badge.highlight {
    z-index: 1;
    filter: drop-shadow(0 0 20px #f4612e);
    transform: scale(1.2); }

/*# sourceMappingURL=badges.css.map */
