$tableBorderColor: #f68d68;
$mainColor: #f4612e;
$textColor: #15232e;
$textGrey: #a4a4a4;
$sidebarWidth: 640px;
$defaultTransition: all 0.4s ease-out;
$badgeZoomTransition: all 1s ease-out;

$badgeSelect: all 0.4s ease-out;
$badgeDeselect: all 0.2s ease-out;


$transShowNavBtns: all 0.2s 0.3s cubic-bezier(0.0, 0.0, 0.2, 1);
$transHideNavBtns: all 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);

body {
	margin: 0;
	padding: 0;
	color: white;
	font-family: CeraProRegular;
}

.screen {
	position: absolute;
	width: 100%;
	height: 100%;
}

#container {
	width: 1920px;
	height: 1080px;
	background: #f4f5fa;
	position: relative;
	overflow: hidden;
}

/*	Still There screen */
#stillThereScreen {
	z-index: 40;
	background: rgba(0,0,0,0.7);
	text-align: center;
	h1 {
		margin-top: 380px;
		font-family: CeraProMedium;
		font-size: 81px;
	}
	h3 {
		margin-top: 30px;
		margin-left: 635px;
		text-align: left;
		font-family: CeraProLight;
		font-size: 30px;
	}
}
#stillThereBtn {
	border: none;
	margin-top: 70px;
	padding: 20px 50px;
	border-radius: 8px;
	background: white;
	font-size: 24px;
	color: black;
	font-family: CeraProRegular;
}

/*	Content screen */
#contentScreen {
	margin: 0;
}
#sidebar {
	position: absolute;
	left: 0;
	height: 100%;
	padding-left: 100px;
	padding-top: 100px;
	box-sizing: border-box;
	width: $sidebarWidth;
	background: linear-gradient(to right, $mainColor 0%, $mainColor 90%, rgba(208,82,39,1) 100%);
	z-index: 0;
	#sidebarContent {
		h1, h3 {
			color: $textColor;
			z-index: 2;
		}
		h1 {
	    font-family: CeraProBlack;
	    width: 650px;
	    letter-spacing: -5px;
	    line-height: 1;
	    margin: 0;
	    font-size: 142px;
		}
		h3 {
			margin-top: 50px;
			font-size: 24px;
			width: 470px;
			line-height: 1.5;
			font-weight: normal;
			font-family: CeraProRegular;
		}
	}
}

#infoPane {
	position: absolute;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100px;
	width: 615px;
	bottom: 0;
	right: 50px;
	line-height: 100%;
	background: #15232e;
	vertical-align: middle;
	&.hidden {
		bottom: -100px;
	}
	img {
		margin-left: 30px;
		position: relative;
		width: 38px;
	}
	span {
		font-size: 24px;
		margin-left: 30px;
	}
}

.pulse {
	animation-duration: 2s;
}

#menuBadges {
	padding-top: 50px;
	.row {
		width: 100%;
		&#rowA {
			height: 350px;
			padding-left: 675px;
		}
		&#rowB {
			height: 250px;
			padding-left: 675px;
		}
		&#rowC, &#rowD, &#rowE {
			padding-left: 630px;
			height: 130px;
			line-height: 130px;
			margin-left: 30px;
			margin-top: -25px;
		}
	}
}

//	Individual menu screen badge styling
.badge {
	position: relative;
	display: inline-block;
	transition: $badgeDeselect;
	vertical-align: middle;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	.colourImg, .outlineImg, .svgHolder {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		transition: $badgeZoomTransition;
	}
	.colourImg {
		opacity: 0;
	}
	.outlineImg {
		opacity: 1;
	}
	.svgHolder {
		opacity: 1;
		transition: $badgeZoomTransition;
	}
	.svgHolder, .colourImg {
		&.popup {
			transition: $defaultTransition !important;
		}
		&.hidden {
			opacity: 0 !important;
		}
	}
	svg {
		transition: $badgeDeselect;
	}
	&.circleBig {
		width: 270px;
		height: 310px;
		svg {
			transform: scale(1.205);
		}
	}
	&.circleMedium {
		width: 200px;
		height: 230px;
		margin-top: 30px;
		svg {
			transform: scale(1.27);
		}
	}
	&.shieldMedium {
		width: 160px;
		height: 215px;
		svg {
			transform: scale(1.356);
		}
	}
	&.diamondMedium {
		width: 220px;
		height: 225px;
		svg {
			transform: scale(1.038);
		}
	}
	&.shieldSmall {
		width: 92px;
		height: 88px;
		svg {
			margin-top: -1px;
			transform: scale(1.17);
		}
	}
	&.diamondSmall {
		width: 93px;
		height: 95px;
		margin-right: 2px;
		svg {
			transform: scale(1.0);
		}
	}
	&.pentagonSmall {
		width: 91px;
		height: 91px;
		margin-right: 2px;
		svg {
			margin-top: 0.3px;
			transform: scale(1.128);
		}
	}
	&.highlight {
		filter: drop-shadow(0 0 20px $mainColor);
		transition: $badgeSelect;
		svg {
			transition: $badgeSelect;
		}
	}
	&.onTop {
		z-index: 1;
	}
	&.noTransition {
		transition: none !important;
		svg {
			transition: none !important;
		}
	}
	&.circleBig.zoomed {
		transform: scale(1.1);
	}
	&.circleMedium.zoomed, &.shieldMedium.zoomed, &.diamondMedium.zoomed {
		transform: scale(1.25);
	}
	&.diamondSmall.zoomed, &.shieldSmall.zoomed, &.pentagonSmall.zoomed {
		transform: scale(2);
	}
	&.focused {
		transition: $badgeZoomTransition;
		position: absolute;
		transform: scale(1) !important;
		left: 150px !important;
		top: 180px !important;
		width: 720px !important;
		height: 720px !important;
		.colourImg {
			opacity: 1;
		}
		.outlineImg {
			opacity: 0;
		}
	}
}

.zoomedBadge {
	pointer-events: auto;
	&.circleBig {
		svg {
			transform: scale(1.051);
		}
	}
	&.circleMedium {
		svg {
			transform: scale(1.1);
		}
	}
	&.shieldMedium {
		svg {
			transform: scale(1.356);
		}
	}
	&.diamondMedium {
		svg {
			transform: scale(1.038);
		}
	}
	&.shieldSmall {
		svg {
			transform: scale(1.17);
		}
	}
	&.diamondSmall {
		svg {
			transform: scale(1.0);
		}
	}
	&.pentagonSmall {
		svg {
			transform: scale(1.128);
		}
	}
}

#popupImgDiv {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#popupDiv, #clonedPopupDiv {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 100px;
	color: #2a2426;
	// background: rgba(255,0,0,0.3);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease-out;
	&.fastTransition {
		transition: $badgeDeselect !important;
	}
	&.displayed {
		transition: all 1s ease-out;
		transform: translateY(-100px);
		opacity: 1;
	}
	&.left, &.right {
		opacity: 0;
	}
	&.left {
		transform: translate(-800px, -100px);
	}
	&.right {
		transform: translate(800px, -100px);
	}
	.popupCard {
		width: 1200px;
		height: 940px;
		margin-top: 70px;
		margin-left: 500px;
		padding-left: 400px;
		padding-right: 100px;
		padding-top: 40px;
		box-sizing: border-box;
		background: white;
		border-radius: 8px;
		font-size: 20px;
		line-height: 1.6;
		h1 {
			margin-top: 0;
			font-size: 64px;
			font-family: CeraProBold;
		}
		h3 {
			font-size: 20px;
		}
		h5 {
			font-size: 16px;
			color: $textGrey;
			margin: 0;
		}
		.popupHeaderDiv {
			font-weight: bold;
			width: 100%;
			display: flex;
			margin: 20px 0;
			.popupHeaderDivUnderline {
				flex-grow: 1;
				border-bottom: 1px solid #f4f4f4;
				margin-left: 10px;
				margin-bottom: 10px;
			}
		}
		.badgeNameUnderline {
			width: 250px;
			height: 7px;
			margin-top: -40px;
			margin-bottom: 30px;
			background: $mainColor;
		}
		.topTrumpTable {
			width: 100%;
			margin-bottom: 10px;
			td {
				vertical-align: top;
				padding-bottom: 10px;
				padding-right: 10px;
			}
			.cell1 {
				width: 26%;
			}
			.cell2 {
				width: 34%;
			}
			.cell3 {
				width: 40%;
			}
		}
	}
}

.backToMenuBtn {
	pointer-events: auto;
  position: absolute;
  top: 25px;
  right: 168px;
  display: inline-block;
  width: 105px;
  height: 105px;
  overflow: hidden;
  background: $mainColor;
  border-radius: 100px;
  box-shadow: 0 7px 16px rgba(244, 97, 46, 0.5);
  &::before, &::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 40px;
    top: 56px;
    left: 33px;
    margin-top: -6px;
    background: white;
    border-radius: 5px;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
.btn {
	border: none;
	outline: none;
	&:active {
		transition: none !important;
		transition-delay: none !important;
	 	transform: scale(0.9);
	}
}
.arrowBtn {
	position: absolute;
	top: 453px;
	height: 166px;
	width: 95px;
	border-radius: 100px;
	background: white;
	z-index: 25;
	box-shadow: 0 0 10px rgba(0,0,0,0.15), 4px 15px 15px rgba(0,0,0,0.15);
	&.hidden {
		transition: $transHideNavBtns !important;
	}
	&.shown {
		transition: $transShowNavBtns;
	}
} .arrowBtn:before {
	border-style: solid;
	border-width: 5px 5px 0 0;
	border-color: #58595b;
	content: '';
	display: inline-block;
	height: 40px;
	position: relative;
	vertical-align: top;
	width: 40px;					
}
#leftArrowBtn {
	left: 40px;
	&:before {
		transform: rotate(-135deg);
		left: 10px;
	}
	&.hidden {
		left: -100px;
	}
}
#rightArrowBtn {
	right: 40px;
	&:before {
		transform: rotate(45deg);
		left: -10px;
	}
	&.hidden {
		right: -100px;
	}
}