body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: CeraProRegular; }

.screen {
  position: absolute;
  width: 100%;
  height: 100%; }

#container {
  width: 1920px;
  height: 1080px;
  background: #f4f5fa;
  position: relative;
  overflow: hidden; }

/*	Still There screen */
#stillThereScreen {
  z-index: 40;
  background: rgba(0, 0, 0, 0.7);
  text-align: center; }

#stillThereScreen h1 {
  margin-top: 380px;
  font-family: CeraProMedium;
  font-size: 81px; }

#stillThereScreen h3 {
  margin-top: 30px;
  margin-left: 635px;
  text-align: left;
  font-family: CeraProLight;
  font-size: 30px; }

#stillThereBtn {
  border: none;
  margin-top: 70px;
  padding: 20px 50px;
  border-radius: 8px;
  background: white;
  font-size: 24px;
  color: black;
  font-family: CeraProRegular; }

#sidebar {
  position: absolute;
  left: 0;
  height: 100%;
  width: 640px;
  background: #f4612e; }
  #sidebar:after {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 60px;
    background: linear-gradient(to right, transparent 0%, #d05227 100%); }

#menuSidebar {
  z-index: 1;
  height: 100%;
  width: 640px;
  top: 0;
  left: 0;
  padding: 86px;
  box-sizing: border-box;
  position: absolute;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
  #menuSidebar.hidden {
    left: -200px;
    opacity: 0; }
  #menuSidebar h1 {
    font-family: CeraProBlack;
    color: black;
    font-size: 160px; }
  #menuSidebar table {
    table-layout: fixed;
    width: 468px;
    border-spacing: 0; }
    #menuSidebar table td {
      box-sizing: border-box;
      position: relative;
      border-top: 1px solid #f68d68;
      border-left: 1px solid #f68d68;
      padding: 15px 0 15px 40px; }
      #menuSidebar table td .numSpan {
        color: #f4612e;
        position: absolute;
        width: 30px;
        text-align: center;
        left: 7px;
        top: 18px;
        font-weight: bold;
        font-size: 14px; }
    #menuSidebar table td:last-child {
      border-right: 1px solid #f68d68; }
    #menuSidebar table tr:last-of-type td {
      border-bottom: 1px solid #f68d68; }
    #menuSidebar table td:before {
      content: '';
      background: white;
      display: block;
      position: absolute;
      border-radius: 20px;
      height: 25px;
      width: 25px;
      margin-top: -4px;
      margin-left: -30px; }
    #menuSidebar table td.emptyCell {
      border-right: none;
      border-bottom: none !important; }
      #menuSidebar table td.emptyCell:before {
        background: none; }
    #menuSidebar table .chevron {
      position: absolute;
      right: 10px;
      top: 20px; }
      #menuSidebar table .chevron:before {
        border-style: solid;
        border-width: 0.05em 0.05em 0 0;
        content: '';
        display: inline-block;
        height: 0.45em;
        position: relative;
        transform: rotate(-45deg);
        vertical-align: top;
        width: 0.45em;
        transform: rotate(45deg); }

#menuTable.disabled {
  pointer-events: none; }

#infoPopup {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 615px;
  bottom: 0;
  left: 85px;
  line-height: 100%;
  background: #15232e;
  vertical-align: middle;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
  #infoPopup.hidden {
    bottom: -100px; }
  #infoPopup img {
    margin-left: 30px;
    position: relative;
    width: 38px; }
  #infoPopup span {
    font-size: 24px;
    margin-left: 30px; }

#menuCanvas {
  position: absolute;
  z-index: 30;
  top: 0;
  right: 0;
  opacity: 0; }
  #menuCanvas.disabled {
    top: 1080px; }

#focusPanel, #oldFocusPanel {
  color: black;
  position: absolute;
  top: 140px;
  left: 343px;
  height: 810px;
  width: 1022px;
  z-index: 21;
  pointer-events: none; }
  #focusPanel.hidden, #oldFocusPanel.hidden {
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
    opacity: 0;
    left: 360px; }
  #focusPanel.left, #oldFocusPanel.left {
    left: -1577px !important; }
  #focusPanel.right, #oldFocusPanel.right {
    left: 2263px !important; }
  #focusPanel.transOld, #oldFocusPanel.transOld {
    transition: all 0.6s cubic-bezier(0, 0, 0.2, 1); }
  #focusPanel.transNew, #oldFocusPanel.transNew {
    transition: all 0.6s cubic-bezier(0, 0, 0.2, 1); }
  #focusPanel.transZoom, #oldFocusPanel.transZoom {
    transition: all 0.3s 0.2s cubic-bezier(0, 0, 0.2, 1); }

.focusBg {
  position: relative;
  height: 810px;
  width: 1022px; }

.focusBgMain {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: white;
  width: 100%;
  height: 100%; }

.focusBgShadow {
  position: absolute;
  height: 100px;
  width: 800px;
  bottom: -10px;
  left: 111px;
  background: rgba(0, 0, 0, 0.3);
  z-index: -2;
  filter: blur(20px);
  transition: all 0.3s 0.2s cubic-bezier(0, 0, 0.2, 1); }
  .focusBgShadow.hidden {
    opacity: 0; }

.noTransition {
  transition: none !important; }

#pngImg, #oldPngImg {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  pointer-events: none; }
  #pngImg.animated, #oldPngImg.animated {
    transition: all 0.4s cubic-bezier(0, 0, 0.2, 1); }
  #pngImg.animDelay, #oldPngImg.animDelay {
    transition-delay: 0.2s !important; }
  #pngImg.hidden, #oldPngImg.hidden {
    right: -300px;
    opacity: 0; }

#bigSvgDiv, #oldSvgDiv {
  position: absolute;
  z-index: 22;
  left: 640px;
  height: 700px;
  width: 550px; }
  #bigSvgDiv.left, #oldSvgDiv.left {
    left: calc(640px - 1940px) !important;
    opacity: 0; }
  #bigSvgDiv.right, #oldSvgDiv.right {
    left: calc(640px + 1940px) !important;
    opacity: 0; }
  #bigSvgDiv.animOut, #oldSvgDiv.animOut {
    transition: all 0.6s cubic-bezier(0, 0, 0.2, 1); }
  #bigSvgDiv.animIn, #oldSvgDiv.animIn {
    transition: all 0.6s cubic-bezier(0, 0, 0.2, 1); }

.bigSvgImg {
  position: absolute;
  transition: all 0.4s cubic-bezier(0, 0, 0.2, 1); }
  .bigSvgImg.hidden {
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
    opacity: 0; }

#focusText {
  position: absolute;
  font-family: CeraProRegular;
  left: 300px;
  padding-right: 80px;
  padding-top: 130px;
  font-size: 22px;
  line-height: 1.6; }
  #focusText h2 {
    margin: 0;
    font-family: CeraProMedium;
    font-size: 68px;
    line-height: 1.2;
    padding-bottom: 0; }
  #focusText .subtext {
    font-size: 18px;
    color: #bfbfbf;
    padding-right: 50px; }
  #focusText .subtextIcon {
    position: relative;
    top: 2px;
    padding-right: 5px;
    display: inline-block;
    height: 16px; }
  #focusText .underliner {
    margin-top: 20px;
    height: 7px;
    width: 210px;
    background: #f4612e; }

.backToMenuBtn {
  pointer-events: auto;
  position: absolute;
  top: -35px;
  right: -52.5px;
  display: inline-block;
  width: 105px;
  height: 105px;
  overflow: hidden;
  background: #f4612e;
  border-radius: 100px;
  box-shadow: 0 7px 16px rgba(244, 97, 46, 0.5); }
  .backToMenuBtn::before, .backToMenuBtn::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 40px;
    top: 56px;
    left: 33px;
    margin-top: -6px;
    background: white;
    border-radius: 5px; }
  .backToMenuBtn::before {
    transform: rotate(45deg); }
  .backToMenuBtn::after {
    transform: rotate(-45deg); }

.btn {
  border: none;
  outline: none; }
  .btn:active {
    transition: none !important;
    transition-delay: none !important;
    transform: scale(0.9); }

#figureheadImages {
  position: absolute;
  right: 0;
  height: 100%;
  width: 1280px;
  text-align: right;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
  #figureheadImages.hidden {
    opacity: 0; }
  #figureheadImages img {
    position: absolute; }
    #figureheadImages img.focused {
      transition: none !important;
      opacity: 0; }

.labelLine {
  position: absolute;
  background: #bfbfbf;
  height: 2px;
  width: 40px; }
  .labelLine:before {
    position: absolute;
    top: -20px;
    content: attr(data-label);
    color: #bfbfbf; }

.labelLine.left:before {
  left: 0px; }

.labelLine.right:before {
  right: 0px; }

.arrowBtn {
  position: absolute;
  top: 453px;
  height: 166px;
  width: 95px;
  border-radius: 100px;
  background: white;
  z-index: 25;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 4px 15px 15px rgba(0, 0, 0, 0.15); }
  .arrowBtn.hidden {
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important; }
  .arrowBtn.shown {
    transition: all 0.2s 0.3s cubic-bezier(0, 0, 0.2, 1); }

.arrowBtn:before {
  border-style: solid;
  border-width: 5px 5px 0 0;
  border-color: #58595b;
  content: '';
  display: inline-block;
  height: 40px;
  position: relative;
  vertical-align: top;
  width: 40px; }

#leftArrowBtn {
  left: 40px; }
  #leftArrowBtn:before {
    transform: rotate(-135deg);
    left: 10px; }
  #leftArrowBtn.hidden {
    left: -100px; }

#rightArrowBtn {
  right: 40px; }
  #rightArrowBtn:before {
    transform: rotate(45deg);
    left: -10px; }
  #rightArrowBtn.hidden {
    right: -100px; }

#thumbnails {
  position: absolute;
  bottom: 80px;
  left: 120px;
  height: 300px;
  width: 200px;
  background: grey; }
  #thumbnails .thumbTouch {
    position: absolute;
    filter: grayscale(100%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  #thumbnails .selectedThumb {
    filter: none; }

.pulse {
  animation-duration: 2s; }

#menuBadges {
  width: 1920px;
  height: 1080px; }
  #menuBadges .row {
    width: 100%;
    padding-left: 300px; }
    #menuBadges .row#rowA {
      height: 400px; }
    #menuBadges .row#rowB {
      height: 250px; }
    #menuBadges .row#rowC {
      height: 150px;
      line-height: 150px; }
    #menuBadges .row#rowD {
      height: 150px;
      line-height: 150px; }
    #menuBadges .row#rowE {
      height: 150px;
      line-height: 150px; }

.badge {
  position: relative;
  display: inline-block;
  transition: all 0.5s ease-out;
  vertical-align: middle; }
  .badge.diamondSmall {
    width: 120px;
    height: 120px; }
  .badge.shieldSmall {
    width: 120px;
    height: 120px;
    padding-left: 20px; }
  .badge.highlight {
    z-index: 1;
    filter: drop-shadow(0 0 20px #f4612e);
    transform: scale(1.2); }

/*# sourceMappingURL=badges.css.map */
