body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: CeraProRegular; }

.screen {
  position: absolute;
  width: 100%;
  height: 100%; }

#container {
  width: 1920px;
  height: 1080px;
  background: url("../img/old_wall.png");
  background-repeat: repeat;
  position: relative;
  overflow: hidden; }

/*	Still There screen */
#stillThereScreen {
  z-index: 40;
  background: rgba(0, 0, 0, 0.7);
  text-align: center; }
  #stillThereScreen h1 {
    margin-top: 380px;
    text-shadow: 0 0 3px black, 0 0 10px black;
    font-family: CeraProMedium;
    font-size: 81px; }
  #stillThereScreen h3 {
    text-shadow: 0 0 3px black, 0 0 10px black;
    margin-top: 30px;
    margin-left: 645px;
    text-align: left;
    font-family: CeraProLight;
    font-size: 30px; }

#stillThereBtn {
  border: none;
  margin-top: 70px;
  padding: 20px 50px;
  border-radius: 8px;
  background: white;
  font-size: 24px;
  color: black;
  font-family: CeraProRegular; }

/*	Content screen */
#contentScreen {
  margin: 0; }

#sidebar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding-left: 60px;
  box-sizing: border-box;
  width: 600px;
  background: white;
  z-index: 0;
  transition: all 0.1s ease-out; }
  #sidebar .underliner {
    height: 10px;
    width: 180px;
    background: #daa12e; }
  #sidebar #sidebarContent h1, #sidebar #sidebarContent h3 {
    color: #15232e;
    z-index: 2; }
  #sidebar #sidebarContent h1 {
    font-family: CeraProBlack;
    color: black;
    font-size: 82px;
    width: 650px;
    line-height: 1;
    margin: 80px 0 35px 0; }
  #sidebar #sidebarContent h3 {
    margin-top: 50px;
    font-size: 24px;
    width: 470px;
    line-height: 1.5;
    font-weight: normal;
    font-family: CeraProRegular; }
  #sidebar.hidden {
    transform: translateX(200px);
    opacity: 0;
    transition: all 0.1s ease-in; }

#focusSidebar {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  height: 100%;
  width: 700px;
  background: #daa12e;
  transform: translateX(-300px);
  transition: all 0.1s ease-in;
  opacity: 0;
  z-index: 2; }
  #focusSidebar.shown {
    transition: all 0.1s ease-out;
    transform: translateX(0);
    opacity: 1; }

#infoPane {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 615px;
  bottom: 0;
  right: 50px;
  line-height: 100%;
  background: #15232e;
  vertical-align: middle; }
  #infoPane.hidden {
    bottom: -100px; }
  #infoPane img {
    margin-left: 30px;
    position: relative;
    width: 38px; }
  #infoPane span {
    font-size: 24px;
    margin-left: 30px; }

.pulse {
  animation-duration: 2s; }

#menuBadges {
  padding-top: 50px;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0; }
  #menuBadges .row {
    width: 100%; }
    #menuBadges .row#rowA {
      height: 350px;
      padding-left: 75px; }
    #menuBadges .row#rowB {
      height: 250px;
      padding-left: 75px; }
    #menuBadges .row#rowC, #menuBadges .row#rowD, #menuBadges .row#rowE {
      padding-left: 30px;
      height: 130px;
      line-height: 130px;
      margin-left: 30px;
      margin-top: -5px; }
    #menuBadges .row#rowZ {
      height: 600px;
      padding-left: 1300px;
      margin-top: -480px; }

.badge {
  position: relative;
  display: inline-block;
  transition: all 0.2s ease-out;
  vertical-align: middle;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  will-change: transform; }
  .badge .colourImg, .badge .outlineImg, .badge .svgHolder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.5s ease-out; }
  .badge .colourImg {
    opacity: 0; }
  .badge .outlineImg {
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: url(#drop-shadow);
    filter: drop-shadow(0px 0px 1px #daa12e) drop-shadow(0px 0px 1px #daa12e) drop-shadow(0px 0px 1px #daa12e) drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2)); }
  .badge .svgHolder {
    opacity: 1;
    transition: all 0.5s ease-out; }
  .badge .svgHolder.hidden, .badge .colourImg.hidden {
    opacity: 0.0 !important; }
  .badge svg {
    transition: all 0.2s ease-out; }
  .badge.diamondSmall:before, .badge.shieldSmall:before, .badge.pentagonSmall:before {
    bottom: -3px; }
  .badge.circleBig {
    width: 270px;
    height: 310px; }
    .badge.circleBig svg {
      transform: scale(1.205); }
  .badge.circleMedium {
    width: 200px;
    height: 230px;
    margin-top: 30px; }
    .badge.circleMedium svg {
      transform: scale(1.27); }
  .badge.shieldMedium {
    width: 160px;
    height: 215px; }
    .badge.shieldMedium svg {
      transform: scale(1.356); }
  .badge.diamondMedium {
    width: 220px;
    height: 225px; }
    .badge.diamondMedium svg {
      transform: scale(1.038); }
  .badge.shieldSmall {
    width: 92px;
    height: 88px; }
    .badge.shieldSmall svg {
      margin-top: -1px;
      transform: scale(1.17); }
  .badge.diamondSmall {
    width: 93px;
    height: 95px;
    margin-right: 2px; }
    .badge.diamondSmall svg {
      transform: scale(1); }
  .badge.pentagonSmall {
    width: 91px;
    height: 91px;
    margin-right: 2px; }
    .badge.pentagonSmall svg {
      margin-top: 0.3px;
      transform: scale(1.128); }
  .badge.bowater {
    width: 350px;
    height: 450px; }
    .badge.bowater svg {
      transform: scale(1.328) translate(-1px, -0.6px); }
  .badge.highlight {
    filter: drop-shadow(0 0 20px white);
    transition: all 0.4s ease-out;
    filter: drop-shadow(0px 0px 4px #daa12e); }
    .badge.highlight svg {
      transition: all 0.4s ease-out; }
    .badge.highlight:before {
      content: none; }
  .badge.onTop {
    z-index: 1; }
  .badge.noTransition {
    transition: none !important; }
    .badge.noTransition svg {
      transition: none !important; }
  .badge.bowater.zoomed {
    transform: scale(1.08); }
  .badge.circleBig.zoomed {
    transform: scale(1.1); }
  .badge.circleMedium.zoomed, .badge.shieldMedium.zoomed, .badge.diamondMedium.zoomed {
    transform: scale(1.25); }
  .badge.diamondSmall.zoomed, .badge.shieldSmall.zoomed, .badge.pentagonSmall.zoomed {
    transform: scale(2); }
  .badge.focused {
    transition: none;
    position: absolute;
    transform: scale(1) !important;
    left: 190px !important;
    top: 220px !important;
    width: 560px !important;
    height: 640px !important; }
    .badge.focused.shieldSmall {
      left: 220px !important;
      width: 480px !important; }
    .badge.focused .colourImg {
      opacity: 1; }
    .badge.focused .outlineImg {
      opacity: 0; }

.zoomedBadge {
  pointer-events: auto;
  z-index: 2;
  margin-top: 0 !important; }
  .zoomedBadge .colourImg {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.4)) drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2)) drop-shadow(0px 20px 5px rgba(0, 0, 0, 0.1)); }
  .zoomedBadge .popup {
    transition: all 0.1s linear !important; }
  .zoomedBadge svg {
    opacity: 1;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.4)) drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2)) drop-shadow(0px 20px 5px rgba(0, 0, 0, 0.1)); }
  .zoomedBadge.circleBig svg {
    transform: scale(1.19) translate(0, 2px); }
  .zoomedBadge.circleMedium svg {
    transform: scale(1.26); }
  .zoomedBadge.shieldMedium svg {
    transform: scale(1.155) translate(-1px, 2px); }
  .zoomedBadge.diamondMedium svg {
    transform: scale(1.085) translateY(6px); }
  .zoomedBadge.shieldSmall svg {
    transform: scale(1.268) translateY(-2px); }
  .zoomedBadge.diamondSmall svg {
    transform: scale(1) translateX(2px); }
  .zoomedBadge.pentagonSmall svg {
    transform: scale(1.128) translateY(2px); }
  .zoomedBadge.bowater svg {
    transform: scale(1.18) translateY(-2px); }

#popupImgDiv {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }

#popupDiv, #clonedPopupDiv {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 100px;
  color: #2a2426;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-out; }
  #popupDiv.fastTransition, #clonedPopupDiv.fastTransition {
    transition: all 0.2s ease-out !important; }
  #popupDiv.displayed, #clonedPopupDiv.displayed {
    transition: all 0.5s ease-out;
    transform: translateY(-100px);
    opacity: 1; }
  #popupDiv.left, #popupDiv.right, #clonedPopupDiv.left, #clonedPopupDiv.right {
    opacity: 0; }
  #popupDiv.left, #clonedPopupDiv.left {
    transform: translate(-800px, -100px); }
  #popupDiv.right, #clonedPopupDiv.right {
    transform: translate(800px, -100px); }
  #popupDiv .popupCard, #clonedPopupDiv .popupCard {
    position: absolute;
    width: 1240px;
    height: 940px;
    top: 70px;
    left: 460px;
    padding-left: 320px;
    padding-right: 80px;
    padding-top: 0;
    box-sizing: border-box;
    background: white;
    border-radius: 8px;
    font-size: 22px;
    line-height: 1.6;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #popupDiv .popupCard h1, #clonedPopupDiv .popupCard h1 {
      margin-top: 0;
      font-size: 64px;
      font-family: CeraProBold; }
    #popupDiv .popupCard h3, #clonedPopupDiv .popupCard h3 {
      font-size: 24px; }
    #popupDiv .popupCard h5, #clonedPopupDiv .popupCard h5 {
      font-size: 22px;
      color: #a4a4a4;
      margin: 0; }
    #popupDiv .popupCard .popupHeaderDiv, #clonedPopupDiv .popupCard .popupHeaderDiv {
      font-weight: bold;
      width: 100%;
      display: flex;
      margin: 20px 0; }
      #popupDiv .popupCard .popupHeaderDiv .popupHeaderDivUnderline, #clonedPopupDiv .popupCard .popupHeaderDiv .popupHeaderDivUnderline {
        flex-grow: 1;
        border-bottom: 1px solid #f4f4f4;
        margin-left: 10px;
        margin-bottom: 10px; }
    #popupDiv .popupCard .badgeNameUnderline, #clonedPopupDiv .popupCard .badgeNameUnderline {
      width: 250px;
      height: 7px;
      margin-top: -40px;
      margin-bottom: 30px;
      background: #daa12e; }
    #popupDiv .popupCard .topTrumpTable, #clonedPopupDiv .popupCard .topTrumpTable {
      width: 100%;
      margin-bottom: 10px; }
      #popupDiv .popupCard .topTrumpTable td, #clonedPopupDiv .popupCard .topTrumpTable td {
        vertical-align: top;
        padding-bottom: 10px;
        padding-right: 10px; }
      #popupDiv .popupCard .topTrumpTable .col1, #clonedPopupDiv .popupCard .topTrumpTable .col1 {
        width: 38%;
        padding-right: 4%; }
      #popupDiv .popupCard .topTrumpTable .col2, #clonedPopupDiv .popupCard .topTrumpTable .col2 {
        width: 62%; }
      #popupDiv .popupCard .topTrumpTable .span, #clonedPopupDiv .popupCard .topTrumpTable .span {
        width: 100% !important; }
    #popupDiv .popupCard .textCareer, #clonedPopupDiv .popupCard .textCareer {
      padding-bottom: 20px; }

.animLabel {
  position: absolute;
  pointer-events: auto;
  left: -110px;
  background: #a4a4a4;
  border-radius: 20px;
  padding: 15px 40px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.1); }
  .animLabel.circleBig, .animLabel.circleMedium, .animLabel.shieldMedium {
    top: 810px; }
  .animLabel.diamondMedium {
    top: 800px; }
  .animLabel.diamondSmall, .animLabel.shieldSmall, .animLabel.pentagonSmall {
    top: 770px; }
  .animLabel.bowater {
    top: 820px; }
  .animLabel img {
    position: relative;
    width: 20px;
    height: 20px;
    top: 3px; }
  .animLabel span {
    padding-left: 5px;
    font-size: 20px;
    font-family: CeraProBold;
    color: white;
    transition: color 0.1s linear; }
  .animLabel.locked span {
    color: #c8c8c8 !important; }

#popupShadow {
  content: ' ';
  position: absolute;
  bottom: 50px;
  left: 580px;
  width: 900px;
  height: 80px;
  background: rgba(0, 0, 0, 0.3);
  filter: blur(20px);
  z-index: -1; }

.backToMenuBtn {
  pointer-events: auto;
  position: absolute;
  top: -30px;
  right: -50px;
  display: inline-block;
  width: 105px;
  height: 105px;
  overflow: hidden;
  background: #daa12e;
  border-radius: 100px;
  box-shadow: 0 7px 16px rgba(244, 97, 46, 0.5); }
  .backToMenuBtn::before, .backToMenuBtn::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 40px;
    top: 56px;
    left: 33px;
    margin-top: -6px;
    background: white;
    border-radius: 5px;
    transition: background 0.1s linear; }
  .backToMenuBtn::before {
    transform: rotate(45deg); }
  .backToMenuBtn::after {
    transform: rotate(-45deg); }
  .backToMenuBtn.locked::before, .backToMenuBtn.locked::after {
    background: rgba(255, 255, 255, 0.5); }

.btn {
  border: none;
  outline: none; }
  .btn:active {
    transition: none !important;
    transition-delay: none !important;
    transform: scale(0.9); }
  .btn.locked:active {
    transform: none !important; }

.arrowBtn {
  position: absolute;
  top: 453px;
  height: 166px;
  width: 95px;
  border-radius: 100px;
  background: white;
  z-index: 25;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 4px 15px 15px rgba(0, 0, 0, 0.15); }
  .arrowBtn.hidden {
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important; }
  .arrowBtn.shown {
    transition: all 0.2s 0.3s cubic-bezier(0, 0, 0.2, 1); }
  .arrowBtn.locked:before {
    border-color: #c8c8c8; }

.arrowBtn:before {
  border-style: solid;
  border-width: 5px 5px 0 0;
  border-color: #58595b;
  content: '';
  display: inline-block;
  height: 40px;
  position: relative;
  vertical-align: top;
  width: 40px;
  transition: border-color 0.1s linear; }

#leftArrowBtn {
  left: 40px; }
  #leftArrowBtn:before {
    transform: rotate(-135deg);
    left: 10px; }
  #leftArrowBtn.hidden {
    left: -100px; }

#rightArrowBtn {
  right: 40px; }
  #rightArrowBtn:before {
    transform: rotate(45deg);
    left: -10px; }
  #rightArrowBtn.hidden {
    right: -100px; }

/*# sourceMappingURL=badges.css.map */
